<app-header></app-header>

<div class="medcin breadcam_bg_2 bradcam_overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="medcin_text">
                    <h3>Doctors</h3>
                    <p><a href="index.html">Home /</a> Doctors</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end  -->

<!-- expert_doctors_area_start -->
<div class="expert_doctors_area doctor_page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="assets/img/doctors/1.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Mirazul Alom</h3>
                        <span>Neurologist</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="assets/img/doctors/2.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Mirazul Alom</h3>
                        <span>Neurologist</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="assets/img/doctors/3.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Mirazul Alom</h3>
                        <span>Neurologist</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="assets/img/doctors/4.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Mirazul Alom</h3>
                        <span>Neurologist</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 my-5">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="assets/img/doctors/6.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Mirazul Alom</h3>
                        <span>Neurologist</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 my-5">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="assets/img/doctors/7.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Mirazul Alom</h3>
                        <span>Neurologist</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 my-5">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="assets/img/doctors/8.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Mirazul Alom</h3>
                        <span>Neurologist</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 my-5">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="assets/img/doctors/9.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Mirazul Alom</h3>
                        <span>Neurologist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- expert_doctors_area_end -->

<app-footer></app-footer>
