<app-header></app-header>

<div class="medcin breadcam_bg_5 bradcam_overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="medcin_text">
                    <h3>Mon compte</h3>
                    <p><a href="index.html">Home /</a> register medecin</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="assets/img/doctors/doc.png" alt="">
            </div>
            <div class="col-lg-7">
                <form [formGroup]="register" (ngSubmit)="saveUser()">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstname">firstname :</label>
                            <input  class="form-control" type="text" name="firtsname" id="firstname" formControlName="firstname" placeholder="firstname">
                            
                            <div *ngIf="firstname.touched && firstname.invalid">
                                <small *ngIf="firstname.errors.required" class="text-danger">Firstname is required</small><br>
                                <small *ngIf="firstname.errors.pattern" class="text-danger">Invalid firstname</small><br>
                                <small *ngIf="firstname.errors.minlength" class="text-danger">Firstname must contain two caracters at least</small>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="lastname">lastname :</label>
                            <input  class="form-control" type="text" name="lastname" id="lastname" formControlName="lastname" placeholder="lastname">
                            
                            <div *ngIf="lastname.touched && lastname.invalid">
                                <small *ngIf="lastname.errors.required" class="text-danger">lastname is required</small><br>
                                <small *ngIf="lastname.errors.pattern" class="text-danger">Invalid lastname</small><br>
                                <small *ngIf="lastname.errors.minlength" class="text-danger">last must contain two caracters at least</small>
                            </div>
                        </div>
                        
                       
                    </div> 
                    <div class=" form-group">
                        <div class="mt-10">
                            <label for="email">Email</label>
                            <input formControlName="email" id="email" type="email" name="email" placeholder="email" class="form-control" >
    
                            <div *ngIf="email.touched && email.invalid">
                                <small *ngIf="email.errors.required" class="text-danger">Email is required</small>
                                <small *ngIf="email.errors.email" class="text-danger">Invalid Email</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sepecialitemedecin">specialty medicine</label>
                        <input type="text" class="form-control" id="sepecialitemedecin" placeholder="specialité" formControlName="profession">

                        <div *ngIf="profession.touched && profession.invalid">
                            <small *ngIf="profession.errors.required" class="text-danger">speciality is required</small>
                            <small *ngIf="profession.errors.pattern" class="text-danger">Invalid specialité</small>
                            <small *ngIf="profession.errors.minlength" class="text-danger">last must contain 8 caracters at least</small>
                           
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sepecialitemedecin">Adress</label>
                        <input type="text" class="form-control" id="sepecialitemedecin" placeholder="adress" formControlName="adress">

                        <div *ngIf="adress.touched && adress.invalid">
                            <small *ngIf="adress.errors.required" class="text-danger">Adress is required</small>
                            <small *ngIf="adress.errors.minlength" class="text-danger">last must contain 8 caracters at least</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input type="text" class="form-control" id="phone" placeholder="1234" formControlName="phone">

                        <div *ngIf="phone.touched && phone.invalid">
                            <small *ngIf="phone.errors.required" class="text-danger">phone is required</small>
                            <small *ngIf="phone.errors.pattern" class="text-danger">Invalid phone</small>
                            <small *ngIf="phone.errors.minlength" class="text-danger">phone must contain 8 character at leat</small>
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="Password1">Mot de pass</label>
                            <input type="password" class="form-control"  formControlName="password" placeholder="password">
    
                            <div *ngIf="password.touched && password.invalid">
                                <small *ngIf="password.errors.required" class="text-danger">password is required</small><br>
                                <small *ngIf="password.errors.pattern" class="text-danger">Invalid email</small><br>
                            </div>
                        </div>
    
                        <div class="form-group col-md-6">
                            <div class="mt-10">
                                <label for="confirmPassword">Confirm mot de passs</label>
                                <input formControlName="confirmPassword" id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm Password"  class="form-control">
                                
                                <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
                                    <small *ngIf="confirmPassword.errors.required" class="text-danger">ConfirmPassword is required</small>
                                </div>
                                <div *ngIf="confirmPassword.valid && confirmPassword.value != password.value" class="text-danger">
                                    teh passwords entred do not match
                                </div>
                            </div>
                        </div>


                    </div> 
                    <div class="form-row">
                        <div class="form-group">
                            <input type="submit" value="register" class="btn btn-primary" [disabled]="register.invalid || confirmPassword.value != password.value">
                        </div>     
                    </div>
                
                </form>
                
            </div>
        </div>
    </div>
</section>
   
<app-footer></app-footer>
