<app-header></app-header>


<div class="medcin breadcam_bg_4">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="medecin_text">
                    <h3>Service</h3>
                    <p><a href="index.html">Home /</a>service</p>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- service_area_start -->
 <div class="service_area">
    <div class="container p-0">
        <div class="row no-gutters">
            <div class="col-xl-6 col-md-6">
                <div class="single_service">
                    <div class="icon">
                        <i class="fas fa-user-md"></i>
                    </div>
                    <h3>Hospitality</h3>
                    <p>
                        L'excellence clinique doit être la priorité de tout fournisseur de services de santé.</p>
                    <a href="#" class="boxed-btn3-white">demander un lit</a>
                </div>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="single_service">
                    <div class="icon">
                        <i class="fas fa-hospital-alt"></i>
                    </div>
                    <h3>Emergency Care</h3>
                    <p>L'excellence clinique doit être la priorité de tout fournisseur de services de santé.</p>
                    <a href="#" class="boxed-btn3-white">+216 71 456 789</a>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- service_area_end -->

  <!-- business_expert_area_start  -->
  <div class="business_expert_area">
    <div class="business_tabs_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <ul class="nav" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                        aria-selected="true">
                        Excellents services</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                        aria-selected="false">Médecins qualifiés</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                        aria-selected="false">
                        Services d'urgence</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="border_bottom">
                <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            
                                <div class="row align-items-center">
                                        <div class="col-xl-6 col-md-6">
                                            <div class="business_info">
                                                <div class="icon">
                                                    <i class="fas fa-first-aid"></i>
                                                </div>
                                                <h3>Des soins de pointe pour votre famille</h3>
                                                <p>
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam odit quibusdam rerum corporis! Esse omnis nemo quod natus sit officiis. 
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-md-6">
                                            <div class="business_thumb">
                                                <img src="assets/img/doctors/business.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row align-items-center">
                                        <div class="col-xl-6 col-md-6">
                                            <div class="business_info">
                                                <div class="icon">
                                                    <i class="fas fa-first-aid"></i>
                                                </div>
                                                <h3>Des soins de pointe pour votre famille</h3>
                                                <p>
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa excepturi accusantium voluptatibus eos sit alias nulla atque consectetur, 
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-md-6">
                                            <div class="business_thumb">
                                                <img src="assets/img/doctors/business.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="row align-items-center">
                                        <div class="col-xl-6 col-md-6">
                                            <div class="business_info">
                                                <div class="icon">
                                                    <i class="fas fa-first-aid"></i>
                                                </div>
                                                <h3>Des soins de pointe pour votre famille</h3>
                                                <p>
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis voluptatum illo doloremque ut laudantium accusamus debitis perspiciatis, quae veniam tenetur sunt fugiat aut cupiditate
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-md-6">
                                            <div class="business_thumb">
                                                <img src="assets/img/doctors/business.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                        </div>
                      </div>
        </div>
    </div>
</div>
<!-- business_expert_area_end  -->
<app-footer></app-footer>