<app-header></app-header>


   <!----landing page------->
    
   <div class="container landing"> 
    <div class="row">
      <div class="landingText col-md-4" >
          <h1 >Stay in <span style="color:#2f8be0;font-size: 4vw;">stay Safe</span></h1>
          <h3>travaillons tous ensemble pour mettre fin à cette pandémie<br>aide à arrêter la pandémie</h3>
          <div class="btn">
              <a href="#">learn more</a>
          </div>
      </div>
      <div class="landingImage col-md-8">
          <img src="assets/img/3708690.png" alt="">
      </div>
  </div>   
  </div>
 <!----------landing page-------> 


 <!-------about------->
 <div class="abouts">
  <div class="container">
    <div class="aboutText text-center">
      <h3>Pourquoi est-il important  <br> <span style="color: #dc4558;">que vous restiez à la Maison</span> </h3>
    </div>
    <div class="row my-5">
      <div class="col-md-3">
        <img class="aboutimage" src="assets/img/doctor-woman.svg" alt="">
      </div>
      <div class="col-md-9">
       <ul class="list-group list-group-flush">
         <li class="list-group-item"> <span>01</span> Restez à la maison si vous êtes malade, sauf pour recevoir des soins médicaux.
         </li>
         <li class="list-group-item"> <span>02</span> Couvrez votre bouche et votre nez avec un mouchoir en papier lorsque vous toussez</li>
         <li class="list-group-item"> <span>03</span> Jetez les tissus usagés à la poubelle.</li>
         <li class="list-group-item"><span>04</span> Lavez-vous immédiatement les mains à l’eau et au savon </li>
       </ul>
      </div>
    </div>
  </div>
 </div>
 




  <!------info section-----> 
<div class="infosection">
<div class="container my-3 text-center">
  <div class="row mb-5">
      <div class="col">
        <h3>Ce que vous faites pendant  la quarantaine du <br> <span style="color: #dc4558;">coronavirus</span> </h3>
      </div>
  </div>
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/img/3582358.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">regarder la télévision</h5>
          <p class="card-text"> Regardez toutes vos émissions de télévision ou vos films préférés pendant cette quarantaine!</p>
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/3838675.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">apprendre une nouvelle compétence</h5>
          <p class="card-text">essayez une nouvelle recette, écrivez un blog ou apprenez une nouvelle langue cette quarantaine!</p>
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/63752.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">appelez vos amis en vidéo</h5>
          <p class="card-text">Amusez-vous en vidéo en appelant vos amis ou votre famille cette quarantaine!</p>
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>
</div>
</div>    



<!-------our service ------------>
<div class="services">
<h1>Notre services</h1>
<div class="cen">
  <div class="service">
    <i class="fas fa-stethoscope"></i>
    <h2>Service 24h</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  </div>

  <div class="service">
    <i class="fas fa-user-md"></i>
    <h2>consultation médicale</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  </div>

  <div class="service">
    <i class="fas fa-first-aid"></i>
    <h2>soins de santé premium</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  </div>

  <div class="service">
    <i class="fas fa-ambulance"></i>
    <h2>service d'urgence</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  </div>
</div>
</div>

   
  <!----testimonial----->

  <section  class="testimonial">
      <div class="container">
        <h3 class="text-center">Experience <span style="color: #dc4558;">Doctors</span> </h3>
        <div class="row">
          <div class="col-md-3 profile text-center">
            <div class="img-box">
                <img src="assets/img/doctors/doctor-img2.png" class="img-respensive">
                <ul>
                  <a href=""><li><i class="fab fa-facebook-f"></i></li></a>
                  <a href=""><li><i class="fab fa-twitter"></i></li></a>
                  <a href=""><li><i class="fab fa-google"></i></li></a>
                </ul>
            </div>
            <h2>DR Adam Billiard</h2>
            <h3>Heart specialist</h3>
          </div>


          <div class="col-md-3 profile text-center">
            <div class="img-box">
                <img src="assets/img/doctors/doctor-img1.png" class="img-respensive">
                <ul>
                  <a href=""><li><i class="fab fa-facebook-f"></i></li></a>
                  <a href=""><li><i class="fab fa-twitter"></i></li></a>
                  <a href=""><li><i class="fab fa-google"></i></li></a>
                </ul>
            </div>
            <h2>DR Melanie Jack</h2>
            <h3>Medicine specialist</h3>
          </div>

          <div class="col-md-3 profile text-center">
            <div class="img-box">
                <img src="assets/img/doctors/doctor-img03.png" class="img-respensive">
                <ul>
                  <a href=""><li><i class="fab fa-facebook-f"></i></li></a>
                  <a href=""><li><i class="fab fa-twitter"></i></li></a>
                  <a href=""><li><i class="fab fa-google"></i></li></a>
                </ul>
            </div>
            <h2>DR Fred Macyard</h2>
            <h3>CHeart specialist</h3>
          </div>

          <div class="col-md-3 profile text-center">
            <div class="img-box">
                <img src="assets/img/doctors/doctor-img04.png" class="img-respensive">
                <ul>
                  <a href=""><li><i class="fab fa-facebook-f"></i></li></a>
                  <a href=""><li><i class="fab fa-twitter"></i></li></a>
                  <a href=""><li><i class="fab fa-google"></i></li></a>
                </ul>
            </div>
            <h2>DR Fred Macyard</h2>
            <h3>CHeart specialist</h3>
          </div>

        </div>
      </div>
  </section>

<app-footer></app-footer>
