<app-header></app-header>
<div class="medcin breadcam_bg_5 bradcam_overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="medcin_text">
                    <h3>Mon compte</h3>
                    <p><a routerLink="/moncompte">Moncompte /</a> login patient</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="assets/img/doctors/doc.png" alt="">
            </div>
            <div class="col-lg-7">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    
                    <div class="form-row">

                        <div class="col form-group">
                            <div class="mt-10">
                                <label for="email">Email</label>
                                <input formControlName="email" id="email" type="email" name="email" placeholder="email" required class="single-input" class="form-control">
        
                                <div *ngIf="myemail.touched && myemail.invalid">
                                    <small *ngIf="myemail.errors.required" class="text-danger">Email is required</small>
                                    <small *ngIf="myemail.errors.email" class="text-danger">Invalid Email</small>
                                </div>
                            </div>
                        </div>
        
                    </div>
        
                    <div class="form-row">
                        <div class="col form-group">
                            <div class="mt-10">
                                <label for="password">Password</label>
                                <input formControlName="password" id="password" type="password" name="password" placeholder="password" required class="single-input" class="form-control">
                                <div *ngIf="mypassword.touched && mypassword.invalid">
                                    <small *ngIf="mypassword.errors.required" class="text-danger">Password is required</small>
                                    <small *ngIf="mypassword.errors.minlength" class="text-danger">Invalid Password</small>
                                </div>
                            </div>
                        </div>
                    </div>
    
                        


                   
                    <div class="form-row">
                        <div class="form-group">
                            <input type="submit" value="login" class="btn btn-primary" [disabled]="loginForm.invalid">
                        </div>     
                    </div>
                
                </form>
                
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
